/* 公共start */
*{
	box-sizing: border-box;
}
html,body{
	margin:0;padding:0;
	background-color: #F3F3F3;
	height:100%;
	font-size: 14px;
}
.flex-r{
	display: flex;
}
.flex-c{
	display: flex;
	flex-direction: column;
}
.align-center{
	text-align: center;
}
.flex-center{
	align-items: center;
}
.flex-start{
	align-items: flex-start;
}
.flex-between{
	justify-content: space-between;
}
.flex-around{
	justify-content: space-around;
}
.white{
	color:#fff;
}
.white_bg{
	background-color: #fff;
}
.flex-auto{
	flex:auto;
}
.flex-none{
	flex:none;
}
.flex-wrap{
	flex-wrap: wrap;
}
.font12{
	font-size: 1.2rem;
}
.cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cut2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.cut4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.cut5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.cut3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.posi-re{
	position: relative;
}
.btn{
	width:100%;
	height:40px;
	line-height: 40px;
	border-radius: 5px;
	border:none;
}
.btn+.btn{
	
	margin-left:10px;
}
.btn_default{
	color:#333;
	background-color: #f3f3f3;
}
.btn_primary{
	background-color:#0094FF;
	color:#fff;
}
.contanier{
	width:1080px;
	height:calc(100vh - 102px);
	padding:20px 0;
	margin:20px auto 0 auto;
}
.align_center{
	text-align: center;
}
header{
	height:80px;
	width:1080px;
	margin:0 auto;
}


/* 登录 */
.login_bg{
	background: url('../img/login_bg.png') center no-repeat;	
	background-size: 100% 100%;
	height:100vh;
	    position: absolute;
	    width: 100%;
}
.login_body{
	width:85%;
	height:100%;
	margin:0 auto;
}
.login_form{
	border-radius:10px;
}
.login_bg .copyright{
	text-align: center;
	height:120px;
	line-height: 120px;
}
.login_item{
	height:calc(100% - 120px);
}
.login_left{
	width:50%;
	padding:20px 35px 20px 35px;
}
.login_left img{
	width:100%;
}
.login_right{
	padding:30px 70px 30px 0;
}
.form-item img{
	width:13px;
	height:13px;
}
.form-item{
	border:1px solid #bdbdbd;
	padding:3px;
	/* height:24px; */
	height:3.5vw;
	margin:10px 0;
}
.form-item input{
	font-size: 1rem;
	border:none;
	background: transparent;
	outline: none;
	height:25px;
	line-height: 25px;
	padding-left: 5px;
}
.form-item .code{
	width:auto;
	height:3.5vw;
}
.refresh{
	width:55px;
	flex:none;
	cursor: pointer;
	height:3.5vw;
	line-height: 3.5vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.login_btn{
	width:100%;
	background: -webkit-gradient(linear, left top , right bottom, from(#3b86ff), to(#44bfff));
	height:3.8vw;
	border-radius: 1.9vw;
	border:none;
	color:#fff;
	margin-top:8px;
	margin-bottom:10px;
	outline: none;
	font-size: 1.1rem;
	cursor: pointer;
}
.login-title{
	margin-bottom:30px;
	font-size: 2rem;
}
.agile-field-error {
	color:#F00;
	margin: 0 0 5px 0; 
	text-align: left
}