<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>锁/解锁历史管理</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" th:href="@{{path}/AdminLTE2410/bower_components/bootstrap/dist/css/bootstrap.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" th:href="@{{path}/AdminLTE2410/bower_components/font-awesome/css/font-awesome.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css" th:href="@{{path}/AdminLTE2410/bower_components/Ionicons/css/ionicons.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker-3.0.5/daterangepicker.css" th:href="@{{path}/AdminLTE2410/bower_components/bootstrap-daterangepicker-3.0.5/daterangepicker.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="plugins/iCheck/square/blue.css" th:href="@{{path}/AdminLTE2410/plugins/iCheck/square/blue.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" th:href="@{{path}/AdminLTE2410/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css" th:href="@{{path}/AdminLTE2410/dist/css/AdminLTE.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/index.css" th:href="@{{path}/AdminLTE2410/dist/css/index.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css" th:href="@{{path}/AdminLTE2410/dist/css/skins/_all-skins.min.css(path=${static_server},v=${static_res_version})}">
  <link href="plugins/ztree/css/zTreeStyle/zTreeStyle.css" th:href="@{{path}/AdminLTE2410/plugins/ztree/css/zTreeStyle/zTreeStyle.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
  <link href="plugins/ztree/css/metroStyle/metroStyle.css" th:href="@{{path}/AdminLTE2410/plugins/ztree/css/metroStyle/metroStyle.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" th:href="@{{path}/AdminLTE2410/bower_components/fonts.googleapis/fonts.css(path=${static_server},v=${static_res_version})}">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<section class="find-tools">
		<div class="searchBox">
			<div class="pull-left"><i class="fa fa-th-large"></i>&nbsp;锁/解锁历史管理</div>
			<div class="pull-right">
				<ul>
					<li>
						<button class="btn-superSearch btn btn-block btn-default btn-sm"><i class="fa fa-search-plus"></i></button>
					</li>
					<li>
						<button class="btn_entity_search btn btn-block btn-default btn-sm"><i class="fa fa-search"></i></button>
					</li>
					<li>
						<form id="f_entity_search" class="form-inline">
							<input type="text" id="lockedTarget" name="lockedTarget" oper="eq" stype="S" class="form-control form-search" placeholder="账号/Ip快速查询">
						</form>
					</li>
				</ul>
			</div>
		</div>

		<div class="superSearch">
			<form id="f_entity_search_s" class="form-inline">
				<div class="form-group">
					<label class="control-label">账号/Ip：</label>
					<div class="control-inline">
						<input type="text" id="lockedTarget" name="lockedTarget" oper="eq" stype="S" class="form-control form-search" placeholder="账号/Ip精确匹配">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">类型：</label>
					<div class="control-inline">
						<select class="form-control form-search" id="type" name="type" oper="eq" stype="I">
							<option value="">全部</option>
							<option value="1">账号锁</option>
							<option value="2">Ip锁</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">锁定次数：</label>
					<div class="control-inline">
						<input type="text" id="count" name="count" oper="eq" stype="S" class="form-control form-search" placeholder="锁定次数精确匹配">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">锁定状态：</label>
					<div class="control-inline">
						<select class="form-control form-search" id="status" name="status" oper="eq" stype="I">
							<option value="">全部</option>
							<option value="0">已锁定</option>
							<option value="1">已解锁</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">锁定操作：</label>
					<div class="control-inline">
						<select class="form-control form-search" id="reason" name="reason" oper="eq" stype="I">
							<option value="">全部</option>
							<option value="1">自动锁定</option>
							<option value="2">手工锁定</option>
							<option value="21">自动解锁(到期)</option>
							<option value="22">自动解锁(登录成功)</option>
							<option value="23">手工解锁</option>
							<option value="24">自助验证解锁</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label>锁定/解锁时间范围:</label>
					<div class="input-group">
						<input type="text" class="form-control pull-right" id="lockedTimePeriod" placeholder="请选择锁定时间">
						<input type="hidden" id="lockedTimeGe" name="lockedTimeGe" oper="ge" stype="D">
						<input type="hidden" id="lockedTimeLe" name="lockedTimeLe" oper="le" stype="D">
					</div>
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-primary btn-sm btn_entity_search_s">查询</button>
					<button type="reset" class="btn btn-default btn-sm btn_entity_search_reset">重置</button>
				</div>
			</form>
		</div>
	</section>

	<section class="content">
		<table id="dt_entity" class="table table-bordered table-striped" style="width:100%">
			<thead>
				<tr>
					<th>ID</th>
					<th>锁定目标</th>
					<th>锁定类型</th>
					<th>应用类别</th>
					<th>锁定次数</th>
					<th>错误次数</th>
					<th>锁定操作</th>
					<th>锁定状态</th>
					<th>锁定时间</th>
					<th>描述</th>
					<th>操作</th>
				</tr>
			</thead>
		</table>
	</section>

<script th:replace="page/base/global :: jsVar"></script>
<script src="bower_components/jquery/dist/jquery.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery/dist/jquery.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery-ui/jquery-ui.min.js(path=${static_server},v=${static_res_version})}"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{{path}/AdminLTE2410/bower_components/bootstrap/dist/js/bootstrap.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery-slimscroll/jquery.slimscroll.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/fastclick/lib/fastclick.js" th:src="@{{path}/AdminLTE2410/bower_components/fastclick/lib/fastclick.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/bootstrap-daterangepicker-3.0.5/moment.min.js" th:src="@{{path}/AdminLTE2410/bower_components/bootstrap-daterangepicker-3.0.5/moment.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/bootstrap-daterangepicker-3.0.5/daterangepicker.js" th:src="@{{path}/AdminLTE2410/bower_components/bootstrap-daterangepicker-3.0.5/daterangepicker.js(path=${static_server},v=${static_res_version})}"></script>
<script src="dist/js/adminlte.min.js" th:src="@{{path}/AdminLTE2410/dist/js/adminlte.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="dist/js/demo.js" th:src="@{{path}/AdminLTE2410/dist/js/demo.js(path=${static_server},v=${static_res_version})}"></script>
<script src="plugins/iCheck/icheck.min.js" th:src="@{{path}/AdminLTE2410/plugins/iCheck/icheck.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/datatables.net/js/jquery.dataTables.min.js" th:src="@{{path}/AdminLTE2410/bower_components/datatables.net/js/jquery.dataTables.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" th:src="@{{path}/AdminLTE2410/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../AdminLTE2410/plugins/ztree/js/jquery.ztree.all.min.js" th:src="@{{path}/AdminLTE2410/plugins/ztree/js/jquery.ztree.all.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/json2.js" th:src="@{{path}/lac/json2.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/utils.js" th:src="@{{path}/lac/utils.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2.js" th:src="@{{path}/lac/lac2.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Tab.js" th:src="@{{path}/lac/lac2Tab.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Menu.js" th:src="@{{path}/lac/lac2Menu.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2FieldTree.js" th:src="@{{path}/lac/lac2FieldTree.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Dialog.js" th:src="@{{path}/lac/lac2Dialog.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2DataTables.js" th:src="@{{path}/lac/lac2DataTables.js(path=${static_server},v=${static_res_version})}"></script>
<script>
	var dtable, curRow;

	$(function() {
			
		$("#lockedTimeGe").val(moment().subtract(6, 'days').format('YYYY-MM-DD'));
		$("#lockedTimeLe").val(moment().format('YYYY-MM-DD HH:mm:ss'));
		$('#lockedTimePeriod').daterangepicker({
		    "ranges": {
		    	  '今天': [moment(), moment()],
	              '昨天': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
	              '最近7天': [moment().subtract(6, 'days'), moment()],
	              '最近30天': [moment().subtract(29, 'days'), moment()],
	              '本月': [moment().startOf('month'), moment().endOf('month')],
	              '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
		    },
		    "startDate": moment().subtract(6, 'days'),
		    "endDate": moment()
		}, function(start, end, label) {
			$("#lockedTimeGe").val(start.format('YYYY-MM-DD'));
			$("#lockedTimeLe").val(end.format('YYYY-MM-DD HH:mm:ss'));
			console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
		});
		
				
		initDataTable();
		bindEvents4DataTable();
	});

	function bindEvents4DataTable() {
		/* 快速查询 */
		$(".btn_entity_search").on("click", function() {
			$('.btn-superSearch').removeClass('active');
			$('.superSearch').css('display','none');
			$("#f_entity_search").search4DataTable(dtable);
		});
		
		$(".btn_entity_search_s").on("click", function() {
			$("#f_entity_search_s").search4DataTable(dtable);
		});
		
		$(".btn_entity_search_reset").on("click", function() {
				
			$("#lockedTimeGe").val("");
			$("#lockedTimeLe").val("");
			
		});
		
		$('.btn-superSearch').on('click',function(){
			$('.btn_entity_search').removeClass('active');
		        $(this).toggleClass('active');
		        if($(this).hasClass('active')){
		        	$("#f_entity_search").hide();
		        	$(".btn_entity_search").hide();
		        }else{
		        	$("#f_entity_search").show();
		        	$(".btn_entity_search").show();
		        }
		        $(this).parents('.find-tools').find('.superSearch').slideToggle('fast');
		    });

		$('#dt_entity tbody').on('click', 'button.btn-entity-view', function(event) {
			curRow = dtable.row($(this).parents('tr'));
			var rd = curRow.data();
			LacTab.addTab({
	            id : "LockHis-view",
	            title : '查看锁/解锁历史详情',
	            url : ctx + '/LockHis/view?id='+rd.id+"&uuid="+rd.uuid,
	        });
		});

	}

	function initDataTable() {
		dtable = $('#dt_entity').LacDTable(
						{
							order : [ [ 1, "desc" ] ],
							url : ctx + "/LockHis/page",
							autoSequence : true,
							columns : [
								{
									"data" : "id",
									"visible" : false
								}, 
								{
									"data" : "lockedTarget",
									"width" : "200px",
									"defaultContent" : ""
								}, 
								{
									"data" : "type",
									"width" : "40px",
									"render" : function(data, type, row) {
										if (data == 1) {
											return '<span class="badge bg-green">账号锁</span>';
										} else if (data == 2) {
											return '<span class="badge bg-blue">Ip锁</span>';
										} else {
											return "";
										}
									}
								}, 
								{
									"data" : "appClazz",
									"width" : "40px",
									"render" : function(data, type, row) {
										if (data == 0) {
											return '<span class="badge bg-blue">运维应用</span>';
										} else if (data == 1) {
											return '<span class="badge bg-green">客户应用</span>';
										} else {
											return "";
										}
									}
								}, 
								{
									"data" : "count",
									"width" : "30px",
									"defaultContent" : ""
								}, 
								{
									"data" : "err",
									"width" : "30px",
									"defaultContent" : ""
								}, 
								{
									"data" : "reason",
									"width" : "100px",
									"render" : function(data, type, row) {
										if (data == 1) {
											return '<span class="badge bg-red">自动锁定</span>';
										} else if (data == 2) {
											return '<span class="badge bg-red">手工锁定</span>';
										} else if (data == 21) {
											return '<span class="badge bg-green">自动解锁(到期)</span>';
										} else if (data == 22) {
											return '<span class="badge bg-green">自动解锁(登录成功)</span>';
										} else if (data == 23) {
											return '<span class="badge bg-green">手工解锁</span>';
										} else if (data == 24) {
											return '<span class="badge bg-green">自助验证解锁</span>';
										} else {
											return "";
										}
									}
								}, 
								{
									"data" : "status",
									"width" : "40px",
									"render" : function(data, type, row) {
										if (data == 0) {
											return '<span class="badge bg-red">已锁定</span>';
										} else if (data == 1) {
											return '<span class="badge bg-green">已解锁</span>';
										} else {
											return "";
										}
									}
								}, 
								{
									"data" : "lockedTime",
									"width" : "130px",
									"defaultContent" : ""
								}, 
								{
									"data" : "remark",
									"orderable" : false,
									"defaultContent" : ""
								}, 
								{
									"data" : null,
									"defaultContent" : "",
									"width" : "45px",
									"orderable" : false,
									"searchable" : false,
									"sClass" : "text-center",
									"render" : function(data, type, row) {
										return '<button class="btn-permed btn-entity-view icon-btn" data-res="LockHis" title="查看锁/解锁历史详情"><i class="fa fa-eye text-green"></i></button>';
									}
								}],
					
							initComplete : function(setting, json) {
								$(".btn-permed").permissionEnabled();
							},
							drawCallback : function(setting) {
								$(".btn-permed").permissionEnabled();
							}
						});

	}
</script>
</body>
</html>
