<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>认证中心</title>
<link rel="stylesheet" href="../static/app/css/swiper.min.css" th:href="@{{path}/app/css/swiper.min.css(path=${static_server},v=${static_res_version})}">
<link rel="stylesheet" href="../static/app/css/style.css" th:href="@{{path}/app/css/style.css(path=${static_server},v=${static_res_version})}">
</head>
<body>
	<div class="white_bg">
		<header class="flex-r flex-center flex-between">
			<div class="header_left">
				<div>用户统一认证中心</div>
			</div>
			<div class="header_right flex-r flex-center">
				<div>
					<img width="30px" src="../img/avatar.png" alt="" th:src="@{{path}/app/img/avatar.png(path=${static_server})}"> <span th:text="${userName}">王大拿</span>，欢迎您登录！
				</div>
				<div  id="modify_password" style="cursor:pointer;">
					<img width="18px;" src="../img/lock.png" alt="" th:src="@{{path}/app/img/lock.png(path=${static_server})}"> <span>修改密码</span>
				</div>
				<div id="logout" style="cursor:pointer;">
					<img width="18px;" src="../img/logout.png" alt="" th:src="@{{path}/app/img/logout.png(path=${static_server})}"> <span>退出</span>
				</div>
			</div>
		</header>
	</div>
	<section class="bg flex-c flex-around">
		<div class="auth_contranier">
			<div class="white" style="margin-bottom: 50px">
				<h3 style="margin-top: 0;">登录应用选择</h3>
				<p>请选择您想登录的应用进行登录</p>
				<select id="screenType" name="screenType">
					<option value ="">显示全部应用类型</option>
					<option value ="1">电脑或笔记本</option>
					<option value ="2">平板(PAD)</option>
					<option value ="3">手机</option>
					<option value ="4">电视</option>
					<option value ="5">其它</option>
				</select>
			</div>
			<div>
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide" th:each="app : ${ apps }">
							<div class="s-item" th:data-url="${app.url}" th:data-code="${app.code}" th:classappend="'screenType'+${app.screenType} ">
								<div>
									<img src="../img/default-app-img.png" alt="" th:src="@{{path}/app/img/default-app-img.png(path=${static_server})}" th:if="${app.ico==null || app.ico==''}">
									<img src="../img/default-app-img.png" alt="" th:src="${app.ico}" th:if="${app.ico!=null && app.ico!=''}">
									<h4 th:text="${app.name}">用户中心</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="copyright">copyright &copy; 2019. Linkallcloud All rights reserved.</div>
	</footer>



</body>
<script th:replace="page/base/global :: jsVar"></script>
<script src="../static/jquery/dist/jquery.min.js" th:src="@{{path}/jquery/dist/jquery.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../static/lac/json2.js" th:src="@{{path}/lac/json2.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../static/app/js/swiper.min.js" th:src="@{{path}/app/js/swiper.min.js(path=${static_server},v=${static_res_version})}"></script>
<script>
	$(function() {
		var mySwiper = new Swiper('.swiper-container', {
			loop : true, // 循环模式选项
			// 如果需要分页器
			slidesPerView : 3,
			// 如果需要前进后退按钮
			navigation : {
				nextEl : '.swiper-button-next',
				prevEl : '.swiper-button-prev',
			},

		});
		
		$('#screenType').change(function(){
	        var st = $(this).children('option:selected').val();
	        if(st == ""){
	        	$(".s-item").show();
	        } else{
	        	$(".s-item").hide();
	        	$('.screenType'+st).show();
	        }
	    });
		
		$(".s-item").on("click", function(){
			var appCode = $(this).data("code");
			var appUrl = $(this).data("url");
			if(!appUrl || appUrl==""){
				alert("此应用未设置登录地址，请联系管理员进行设置！");
				return;
			}
			window.location.href = ctx + "/login?from="+appCode+"&service=" + encodeURIComponent(appUrl);
		});
		
		$("#logout").on("click", function(){
			window.location.href = ctx + "/logout";
		});
		$("#modify_password").on("click", function(){
			window.location.href = ctx + "/mp";
		});
	})
</script>
</html>