<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>黑名单详情</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" th:href="@{{path}/AdminLTE2410/bower_components/bootstrap/dist/css/bootstrap.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" th:href="@{{path}/AdminLTE2410/bower_components/font-awesome/css/font-awesome.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css" th:href="@{{path}/AdminLTE2410/bower_components/Ionicons/css/ionicons.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" th:href="@{{path}/AdminLTE2410/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker-3.0.5/daterangepicker.css" th:href="@{{path}/AdminLTE2410/bower_components/bootstrap-daterangepicker-3.0.5/daterangepicker.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="plugins/iCheck/all.css" th:href="@{{path}/AdminLTE2410/plugins/iCheck/all.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="plugins/iCheck/square/blue.css" th:href="@{{path}/AdminLTE2410/plugins/iCheck/square/blue.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" th:href="@{{path}/AdminLTE2410/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css" th:href="@{{path}/AdminLTE2410/dist/css/AdminLTE.min.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/index.css" th:href="@{{path}/AdminLTE2410/dist/css/index.css(path=${static_server},v=${static_res_version})}">
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css" th:href="@{{path}/AdminLTE2410/dist/css/skins/_all-skins.min.css(path=${static_server},v=${static_res_version})}">
  <link href="plugins/ztree/css/zTreeStyle/zTreeStyle.css" th:href="@{{path}/AdminLTE2410/plugins/ztree/css/zTreeStyle/zTreeStyle.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
  <link href="plugins/ztree/css/metroStyle/metroStyle.css" th:href="@{{path}/AdminLTE2410/plugins/ztree/css/metroStyle/metroStyle.css(path=${static_server},v=${static_res_version})}" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" th:href="@{{path}/AdminLTE2410/bower_components/fonts.googleapis/fonts.css(path=${static_server},v=${static_res_version})}">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="box box-outline">
	<div class="box-header with-border">
		<h3 class="box-title">账号[<span th:text="${entity.blackTarget}"></span>]黑名单详情</h3>
		<div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
	</div>
	<div class="box-body">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td style="width: 15%" align="right">账号:</td>
						<td style="width: 35%" th:text="${entity.blackTarget}"></td>
						<td style="width: 15%" align="right">黑名单类型:</td>
						<td style="width: 35%" th:text="${entity.typeStr}"></td>
					</tr>
					<tr>
						<td align="right">加黑操作:</td>
						<td th:text="${entity.reasonStr}"></td>
						<td align="right">加黑时间:</td>
						<td th:text="${entity.blackTimeStr}"></td>
					</tr>
					<tr>
						<td align="right">操作员:</td>
						<td th:text="${entity.operator}"></td>
						<td align="right">描述:</td>
						<td th:text="${entity.remark}"></td>
					</tr>
				</tbody>
			</table>
	</div>
</div>

<div class="box box-outline">
	<div class="box-header with-border">
		<h3 class="box-title">账号[<span th:text="${entity.blackTarget}"></span>]加黑/除黑历史</h3>
		<div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
	</div>
	<div class="box-body">
		<table id="dt_entity" class="table table-bordered table-striped" style="width:100%">
			<thead>
				<tr>
					<th>ID</th>
					<th>黑名单</th>
					<th>类型</th>
					<th>状态</th>
					<th>加黑时间</th>
					<th>加黑操作</th>
					<th>描述</th>
					<th>操作</th>
				</tr>
			</thead>
		</table>
	</div>
	<div class="box-footer">
		<button id="btn_entity_cancel" type="button" class="btn btn-default pull-right" style="margin:0px 10px;">关闭</button>
	</div>
</div>

<script th:replace="page/base/global :: jsVar"></script>
<script src="bower_components/jquery/dist/jquery.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery/dist/jquery.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery-ui/jquery-ui.min.js(path=${static_server},v=${static_res_version})}"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{{path}/AdminLTE2410/bower_components/bootstrap/dist/js/bootstrap.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js" th:src="@{{path}/AdminLTE2410/bower_components/jquery-slimscroll/jquery.slimscroll.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/fastclick/lib/fastclick.js" th:src="@{{path}/AdminLTE2410/bower_components/fastclick/lib/fastclick.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/bootstrap-daterangepicker-3.0.5/moment.min.js" th:src="@{{path}/AdminLTE2410/bower_components/bootstrap-daterangepicker-3.0.5/moment.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/bootstrap-daterangepicker-3.0.5/daterangepicker.js" th:src="@{{path}/AdminLTE2410/bower_components/bootstrap-daterangepicker-3.0.5/daterangepicker.js(path=${static_server},v=${static_res_version})}"></script>
<script src="dist/js/adminlte.min.js" th:src="@{{path}/AdminLTE2410/dist/js/adminlte.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="dist/js/demo.js" th:src="@{{path}/AdminLTE2410/dist/js/demo.js(path=${static_server},v=${static_res_version})}"></script>
<script src="plugins/iCheck/icheck.min.js" th:src="@{{path}/AdminLTE2410/plugins/iCheck/icheck.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/datatables.net/js/jquery.dataTables.min.js" th:src="@{{path}/AdminLTE2410/bower_components/datatables.net/js/jquery.dataTables.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" th:src="@{{path}/AdminLTE2410/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../AdminLTE2410/plugins/ztree/js/jquery.ztree.all.min.js" th:src="@{{path}/AdminLTE2410/plugins/ztree/js/jquery.ztree.all.min.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/json2.js" th:src="@{{path}/lac/json2.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/utils.js" th:src="@{{path}/lac/utils.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2.js" th:src="@{{path}/lac/lac2.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Tab.js" th:src="@{{path}/lac/lac2Tab.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Menu.js" th:src="@{{path}/lac/lac2Menu.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2FieldTree.js" th:src="@{{path}/lac/lac2FieldTree.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2Dialog.js" th:src="@{{path}/lac/lac2Dialog.js(path=${static_server},v=${static_res_version})}"></script>
<script src="../../lac/lac2DataTables.js" th:src="@{{path}/lac/lac2DataTables.js(path=${static_server},v=${static_res_version})}"></script>
<script th:inline="javascript">

	/*<![CDATA[*/
	var lTarget = /*[[${entity.blackTarget}]]*/'';
	var lType = /*[[${entity.type}]]*/'';
	/*]]>*/
	
	$(function() {
		initDataTable();
		$("#btn_entity_cancel").click(function() {
			LacTab.closeThisTab();
		});
	});
	
	function initDataTable() {
		dtable = $('#dt_entity').LacDTable(
				{
					order : [ [ 1, "desc" ] ],
					url : ctx + "/BlackHis/page",
					autoSequence : true,
					cnds: [{ field: "blackTarget", data: lTarget, op: "eq", type: "S" },{ field: "type", data: lType, op: "eq", type: "I" }],
					columns : [
						{
							"data" : "id",
							"visible" : false
						}, 
						{
							"data" : "blackTarget",
							"width" : "200px",
							"defaultContent" : ""
						}, 
						{
							"data" : "type",
							"width" : "60px",
							"render" : function(data, type, row) {
								if (data == 1) {
									return '<span class="badge bg-green">账号</span>';
								} else if (data == 2) {
									return '<span class="badge bg-blue">Ip</span>';
								} else {
									return "";
								}
							}
						}, 
						{
							"data" : "status",
							"width" : "40px",
							"render" : function(data, type, row) {
								if (data == 0) {
									return '<span class="badge bg-red">已加黑</span>';
								} else if (data == 1) {
									return '<span class="badge bg-green">已除黑</span>';
								} else {
									return "";
								}
							}
						}, 
						{
							"data" : "blackTime",
							"width" : "150px",
							"defaultContent" : ""
						}, 
						{
							"data" : "reason",
							"width" : "120px",
							"render" : function(data, type, row) {
								if (data == 1) {
									return '<span class="badge bg-red">自动加黑</span>';
								} else if (data == 2) {
									return '<span class="badge bg-red">手工加黑</span>';
								} else if (data == 21) {
									return '<span class="badge bg-green">手工除黑</span>';
								} else if (data == 22) {
									return '<span class="badge bg-green">自助验证除黑</span>';
								} else {
									return "";
								}
							}
						}, 
						{
							"data" : "remark",
							"orderable" : false,
							"defaultContent" : ""
						}, 
						{
							"data" : null,
							"defaultContent" : "",
							"width" : "45px",
							"orderable" : false,
							"searchable" : false,
							"sClass" : "text-center",
							"render" : function(data, type, row) {
								return '<button class="btn-permed btn-entity-view icon-btn" data-res="BlackHis" title="查看加黑/除黑历史详情"><i class="fa fa-eye text-green"></i></button>';
							}
						}],
			
					initComplete : function(setting, json) {
						$(".btn-permed").permissionEnabled();
					},
					drawCallback : function(setting) {
						$(".btn-permed").permissionEnabled();
					}
				});
		
		$('#dt_entity tbody').on('click', 'button.btn-entity-view', function(event) {
			curRow = dtable.row($(this).parents('tr'));
			var rd = curRow.data();
			LacTab.addTab({
	            id : "BlackHis-view",
	            title : '查看加黑/除黑历史详情',
	            url : ctx + '/BlackHis/view?id='+rd.id+"&uuid="+rd.uuid,
	        });
		});

	}
</script>
</body>
</html>