<section class="find-tools">
	<div class="searchBox">
		<div class="pull-left">
			<i class="fa fa-list"></i>&nbsp;系统设置列表
		</div>
		<div class="pull-right">
			<ul>
				<li th:if="${multi == true}"><button class="btn-syssetup-selects btn btn-block btn-primary btn-sm"><i class="fa fa-check"></i>&nbsp;选择系统设置</button></li>
				<li><button class="btn-superSearch-syssetup btn btn-block btn-default btn-sm"><i class="fa fa-search-plus"></i></button></li>
				<li><button class="btn_syssetup_search btn btn-block btn-default btn-sm"><i class="fa fa-search"></i></button></li>
				<li>
					<form id="f_syssetup_search" class="form-inline">
						<input type="text" id="code" name="code" oper="eq" stype="S" class="form-control form-search" placeholder="设置项编号快速查询">
					</form>
				</li>
			</ul>
		</div>
	</div>

	<div class="superSearch">
		<form id="f_syssetup_search_s" class="form-inline">
			
					
			<div class="form-group">
				<label class="control-label">设置项编号：</label>
				<div class="control-inline">
					<input type="text" id="code" name="code" oper="eq" stype="S" class="form-control form-search" placeholder="设置项编号精确匹配">
				</div>
			</div>
					
					
			<div class="form-group">
				<label class="control-label">设置项名称：</label>
				<div class="control-inline">
					<input type="text" id="name" name="name" oper="eq" stype="S" class="form-control form-search" placeholder="设置项名称精确匹配">
				</div>
			</div>
					
					
			<div class="form-group">
				<label class="control-label">说明：</label>
				<div class="control-inline">
					<input type="text" id="remark" name="remark" oper="eq" stype="S" class="form-control form-search" placeholder="说明精确匹配">
				</div>
			</div>
					
			
			<div class="form-group">
				<label class="control-label">状态：</label>
				<div class="control-inline">
					<select class="form-control form-search" id="status" name="status" oper="eq" stype="I">
						<option value="">全部</option>
						<option value="0">启用</option>
						<option value="1">禁用</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary btn-sm btn_syssetup_search_s">查询</button>
				<button type="reset" class="btn btn-default btn-sm btn_syssetup_search_reset">重置</button>
			</div>
		</form>
	</div>
</section>

<section class="content">
	<table id="dt_syssetup" class="table table-bordered table-striped" style="width: 100%">
		<thead>
			<tr>
				<th>ID</th>
						<th>设置项编号</th>
						<th>设置项名称</th>
						<th>说明</th>
				<th>状态</th>
				<th th:if="${multi != true}">操作</th>
			</tr>
		</thead>
	</table>

</section>

<script th:inline="javascript">
	/*<![CDATA[*/
	var rules4SysSetup = /*[[${cnds}]]*/'';
	var multi4SysSetup = /*[[${multi}]]*/'';
	/*]]>*/

	var dtable4SysSetup, curRow4SysSetup;

	function getCnds4SysSetup() {
		return rules4SysSetup || [];
	}

	$(function() {
		
		initDataTable4SysSetup();
		bindEvents4DataTable4SysSetup();
	});

	function bindEvents4DataTable4SysSetup() {
		/* 快速查询 */
		$(".btn_syssetup_search").on(
				"click",
				function() {
					$('.btn-superSearch-syssetup').removeClass('active');
					$('.superSearch').css('display', 'none');
					$("#f_syssetup_search").search4DataTable(dtable4SysSetup, rules4SysSetup);
				});

		$(".btn_syssetup_search_s").on(
				"click",
				function() {
					$("#f_syssetup_search_s").search4DataTable(dtable4SysSetup, rules4SysSetup);
				});
				
		$(".btn_syssetup_search_reset").on("click", function() {
		});

		$('.btn-superSearch-syssetup').on(
				'click',
				function() {
					$('.btn_syssetup_search').removeClass('active');
					$(this).toggleClass('active');
					if ($(this).hasClass('active')) {
						$("#f_syssetup_search").hide();
						$(".btn_syssetup_search").hide();
					} else {
						$("#f_syssetup_search").show();
						$(".btn_syssetup_search").show();
					}
					$(this).parents('.find-tools').find('.superSearch').slideToggle('fast');
				});

		$('#dt_syssetup tbody').on(
			'click',
			'.btn-syssetup-select',
			function(event) {
				curRow4SysSetup = dtable4SysSetup.row($(this).parents('tr'));
				var rowData = curRow4SysSetup.data();
				if (multi4SysSetup == true) {
					var rows = [];
					rows.push(rowData);
					LAC.getModel("dlg_syssetup_select").getCallback()(rows);
				} else {
					LAC.getModel("dlg_syssetup_select").getCallback()(rowData);
				}
		});

		$(".btn-syssetup-selects").on("click", function() {
			var rows = dtable4SysSetup.rows('.selected').data();
			if (rows && rows.length < 1) {
				LAC.showWarn("请至少选择一行。");
			} else {
				LAC.getModel("dlg_syssetup_select").getCallback()(rows);
			}
		});

	}

	function initDataTable4SysSetup() {
		var options = {
			order : [ [ 1, "desc" ] ],
			url : ctx + "/SysSetup/page4Select",
			autoCheckBox : multi4SysSetup ? true : false,
			cnds : getCnds4SysSetup,
			columns : [
					{
						"data" : "id",
						"visible" : false
					},
					{
						"data" : "name",
						"width" : "120px",
						"defaultContent" : "",
						"render" : function(data, type, row) {
							return '<i class="text-light-blue btn-syssetup-select" style="cursor:pointer">' + data + '</i>';
						}
					},
					{
						"data" : "phone",
						"width" : "60px",
						"defaultContent" : ""
					},
					{
						"data" : "areaName",
						"width" : "150px",
						"defaultContent" : ""
					},
					{
						"data" : "agentName",
						"orderable" : false,
						"defaultContent" : ""
					},
					{
						"data" : "status",
						"width" : "40px",
						"render" : function(data, type, row) {
							if (data == 0) {
								return '<span class="badge bg-green">正常</span>';
							} else if (data == 1) {
								return '<span class="badge bg-yellow">停用</span>';
							} else {
								return "";
							}
						}
					},
					{
						"data" : null,
						"defaultContent" : "",
						"width" : "30px",
						"orderable" : false,
						"searchable" : false,
						"render" : function(data, type, row) {
							return '<span class="badge bg-light-blue btn-block btn-syssetup-select" style="cursor:pointer">选择</span>';
						}
					} ]
		};

		if (multi4SysSetup == true) {
			options.columns.splice(6, 1);
		}
		dtable4SysSetup = $('#dt_syssetup').LacDTable(options);
	}
</script>